{
  "type": "postgres",
  "username": "",
  "password": "",
  "host": "",
  "port": 5432,
  "database": "book_store",
  "entities": [
    "src/**/*.entity.{ts,js}"
  ],
  "migrations": ["src/database/migrations/*.{ts,js}"],
  "cli":{
    "migrationsDir": "src/database/migrations"
  }
}